:root {
  color: #F5F5F5;
  background-color: #242424;

  font-size: 2rem;
  font-family: sans-serif;

  font-weight: 300;
}

main {
  padding: 1em;

  width: 80%;
  max-width: 210mm;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}


@media only screen and (min-width: 768px) {
  :root {
    font-size: 1.25rem;
  }
}

/* HACK Stop content overflow on short screens */
@media (max-height: 1021px) {
  main {
    transform: translate(-50%, 0%);
  }
}

h1 {
  text-align: center;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-weight: 500;
}

a {
  color: #E0493E;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  animation-name: link-hover;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes link-hover {
  0%      { color: #E0493E; }
  100%    { color: #4F9A4A; }
}

/** Projects **/
.project {
  display: inline-flex;
  text-align: left;
}

.project-title {
  font-weight: 500;
  font-size: 1.25rem;

  min-width: 8rem;
  max-width: 8rem;

  padding: 1em;

  animation-name: fade-in-left;
  animation-duration: 0.6s;
}

.project-description {
  animation-name: fade-in-left;
  animation-duration: 0.6s;
}


/** Font Awesome Icons, etc **/

.fa-icon-button {
  text-align: center;
}
.fa-icon-button a {
  font-size: 2em;
  padding: 1em;
}

.fa-icon-button-list {
  text-align: center;

  padding-top: 1em;

  animation-name: fade-in-bottom;
  animation-duration: 0.6s;
}


/** Animations **/

@keyframes fade-in-left {
  0%      { transform: translateX(-3rem); opacity: 50%; }
  100%    { transform: translateX(0rem); opacity: 100%; }
}

@keyframes fade-in-right {
  0%      { transform: translateX(+3rem); opacity: 50%; }
  100%    { transform: translateX(0rem); opacity: 100%; }
}

@keyframes fade-in-top {
  0%      { transform: translateY(-3rem); opacity: 50%; }
  100%    { transform: translateY(0%); opacity: 100%; }
}

@keyframes fade-in-bottom {
  0%      { transform: translateY(+3rem); opacity: 50%; }
  100%    { transform: translateY(0%); opacity: 100%; }
}

